<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:title" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Admin Dashboard</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{{asset('images/favicon.png')}}" />
    <!-- Datatable -->
    <link href="{{asset('vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
	

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
	{% include 'base.html.twig' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12 mt-4">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="row shapreter-row">
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-eye"></i>
													</span>
													<h3 class="count">55</h3>
													<span class="fs-14">Number of Users</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="far fa-comments"></i>
													</span>
													<h3 class="count">55<h3>
													<span class="fs-14">Deleted Messages</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-suitcase"></i>
													</span>
													<h3 class="count">55</h3>
													<span class="fs-14">Recieved messages</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-suitcase"></i>
													</span>
													<h3 class="count">0</h3>
													<span class="fs-14">Sent messages</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-calendar"></i>
													</span>
													<h3 class="count">555</h3>
													<span class="fs-14">Deleted Accounts</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-phone-alt"></i>
													</span>
													<h3 class="count">44</h3>
													<span class="fs-14">Clients</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-xl-6">
								<div class="card">
									<div class="card-header border-0 flex-wrap pb-0">
										<h4 class="fs-20 font-w600">Tournament Dates</h4>
										<div>
											
											
											<div class="mt-2">
												
											</div>
										</div>
									</div>
									<div class="card-body pt-0 pb-3">
                                 
										<canvas id="barChart_1"></canvas>
									</div>
								</div>
							</div>
								<div class="col-xl-6">
								<div class="card">
									<div class="card-header border-0 flex-wrap pb-0">
										<h4 class="fs-20 font-w600">Stats</h4>
										<div>
											
											
											<div class="mt-2">
												
											</div>
										</div>
									</div>
									<div class="card-body pt-0 pb-3">
										<div id="morris_donught" class="chartBar"></div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-header border-0 flex-wrap pb-0">
										<h4 class="fs-20 font-w600">Stats</h4>
										<div>
											
											
											<div class="mt-2">
												
											</div>
										</div>
									</div>
									<div class="card-body pt-0 pb-3">
										<div id="morris_donught" class="chartBar"></div>
									</div>
								</div>
							</div>
							
							
							</div>
						
        </div>
  {% set dates = [n1, n2, n3,n4, n5,n6,n7,n8,n9,n10,n11,n12] %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		
  <script type="text/javascript">
  /*
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() {
       
      var data = google.visualization.arrayToDataTable([

          
        ["Element", "Participants", { role: "style" } ],
    ["ab",5 , "#FFB6C1"],

      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Les Participants",
        width: 500,
        height: 400,
        bar: {groupWidth: "50%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }*/

   var donutChart2 = function(){
			Morris.Donut({
				element: 'morris_donught2',
				data: [{
					label: "\xa0 \xa0 Tournaments \xa0 \xa0",
					value: {{t}},

				}, {
					label: "\xa0 \xa0 Teams \xa0 \xa0",
					value: {{e}}
				}, {
					label: "\xa0 \xa0 Participations \xa0 \xa0",
					value: {{p}}
				}],
				resize: true,
				redraw: true,
				colors: ["#FFB6C1", '#FF0000', '#800080'],
				//responsive:true,
				
			});
		}
   var donutChart = function(){
			Morris.Donut({
				element: 'morris_donught',
				data: [{
					label: "\xa0 \xa0 Tournaments \xa0 \xa0",
					value: {{t}},

				}, {
					label: "\xa0 \xa0 Teams \xa0 \xa0",
					value: {{e}}
				}, {
					label: "\xa0 \xa0 Participations \xa0 \xa0",
					value: {{p}}
				}],
				resize: true,
				redraw: true,
				colors: ["#FFB6C1", '#FF0000', '#800080'],
				//responsive:true,
				
			});
		}
		var barChart1 = function(){
		if(jQuery('#barChart_1').length > 0 ){
			const barChart_1 = document.getElementById("barChart_1").getContext('2d');
    
			barChart_1.height = 100;

			new Chart(barChart_1, {
				type: 'bar',
				data: {
					defaultFontFamily: 'Poppins',
						labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sep","Oct","Nov","Dec"],
					datasets: [
						{
							label: "tournois",
						data: [{{n1}}, {{n2}}, {{n3}},{{n4}}, {{n5}},{{n6}},{{n7}}, {{n8}},{{n9}},{{n10}},{{n11}},{{n12}}],
							borderColor: 'rgba(249, 58, 11, 1)',
							borderWidth: "0",
							backgroundColor: 'rgba(249, 58, 11, 1)'
						}
					]
				},
				options: {
					legend: false, 
					scales: {
									yAxes: [{
							max: {{ max(dates) }},
            min: 0,
							ticks: {
								beginAtZero: true,
								stepSize: 1
							}
						}],
						xAxes: [{
							// Change here
							barPercentage: 0.5
						}]
					}
				}
			});
		}
	}
  </script>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
        
    </div>

    <script src="{{asset('vendor/global/global.min.js')}}"></script>
    <script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script>
	<!-- Apex Chart -->
	<script src="{{asset('vendor/apexchart/apexchart.js')}}"></script>
	
    <!-- Datatable -->
    <script src="{{asset('vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/plugins-init/datatables.init.js')}}"></script>
	 <script src="{{asset('js/plugins-init/chartjs-init.js')}}"></script>
	<script src="{{asset('js/dashboard/statistics-page.js')}}"></script>
	<script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>
 <script src="{{asset('vendor/peity/jquery.peity.min.js')}}"></script>
    <script src="{{asset('js/custom.min.js')}}"></script>
	<script src="{{asset('js/dlabnav-init.js')}}"></script>
	<script src="{{asset('js/demo.js')}}"></script>
    <script src="{{asset('js/styleSwitcher.js')}}"></script>
    <script src="{{asset('vendor/raphael/raphael.min.js')}}"></script>
    <script src="{{asset('vendor/morris/morris.min.js')}}"></script>
    <script src="{{asset('js/plugins-init/morris-init.js')}}"></script>
	<script src="{{asset('js/styleSwitcher.js')}}"></script>
</body>
</html>