{% extends 'admin_template/base.html.twig' %}


{% block stat %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <div class="header-content">
            <div class="tz-search pull-right">

                <!--Start form search-->
                <form method="GET" action="{{ path('ajax_search') }}">
                   
                    <input  name="q" type="text" class="tz-query" id="tz-query" value="" placeholder="Rechercher un Comment">
                </form>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" id="entitiesNav">
                        </ul>
                    </li>
                </ul>

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        var searchRequest = null;
                        $("#tz-query").keyup(function() {
                            var minlength = 1;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength ) {
                             

                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "http://localhost:8000/comment/asearch?q="+value,
                                    data: {
                                    },
                                    dataType: "text",
                                    success: function(msg){
                                        //we need to check if the value is the same
                                        if (value===$(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function(key, arr) {
                                                $.each(arr, function(id, value) {
                                                    if (key === 'posts') {
                                                        if (id !== 'error') {
                                                            alert(value[0]);
                                                            entitySelector.append('<li><a href="#"><b>'+value[0]+'</a></li>');

                                                        } else {
                                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script>



                <!--End Form search-->

                <!--live search-->

        <!--End class header content-->
        </div>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.auteur }}</td>
                <td>{{ comment.contenu }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}" class='btn btn-secondary'>show</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {{ knp_pagination_render(comments) }}
    <a href="{{ path('app_comment_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
