{% extends 'base.html.twig' %}
{% block body %}
{{parent()}}
			








 <div class="mpl-box-md">
        <div class="container">
            <ul class="mpl-isotope-options" data-sr="option" data-sr-origin="left" data-sr-interval="100"
                data-sr-duration="1000" data-sr-distance="10">
                
            </ul>
            <div class="mpl-isotope-grid row hgap-xs vgap-md" data-sr="product" data-sr-interval="120"
                 data-sr-duration="1200" data-sr-distance="20">

	




	<section class="articles">



		{% for publication in publications %}
			<article>
				<h2>{{ publication.titre }}</h2>
				<div class="metadata">Ecrit le
					{{ publication.createdAt | date('d/m/Y') }}
					a
					{{publication.createdAt | date('H:i')}}</div>
				<div class="content">
					<img src="{{ publication.image }}" alt="">
					<p>{{ publication.contenu }}</p>
					<a href="{{ path('frontBlogg', {'id': publication.id}) }}" class="btn btn-primary">fil de discussion
					</a>
				</div>
			</article>
		{% endfor %}
 {{ knp_pagination_render(publications) }}

	</section>

</div>
 
</div>
</div>


	
{% endblock %}


