{% extends 'base.html.twig' %}
{% block body %}
{{parent()}}
			

 <style>
      .comment2 {
        width: 40%;
        height: 100px;
        padding: 10px;
        background-color: #d0e2bc;
      }
    </style>



<div class="mpl-box-md">
        <div class="container">
            <ul class="mpl-isotope-options" data-sr="option" data-sr-origin="left" data-sr-interval="100"
                data-sr-duration="1000" data-sr-distance="10">
                
            </ul>
            <div class="mpl-isotope-grid row hgap-xs vgap-md" data-sr="product" data-sr-interval="120"
                 data-sr-duration="1200" data-sr-distance="20">

	





	<article>
		<h2>{{ publication.titre }}</h2>
		<div class="metadata">
			Ecrit le
			{{ publication.createdAt | date('d/m/Y') }}
			a
			{{publication.createdAt | date('H:i')}}</div>
		<div class="content">
			<img src="{{ asset('uploads/photos/' ~ publication.image) }}" alt="">
			<p>{{ publication.contenu }}</p>
		</div>
		
		

		
		
	</article>

	<section id="commmentaires">
	{% for comment in publication.comments %}

	
		
			<div class="comment">
				<div class="row">
				
					<div class="col1">
					<label> {{comment.auteur}}:    {{ comment.contenu }}</label>
			
					</div>
			
				</div>
			</div>
						
		{% endfor %}				
		{{ form_start(form) }}
{{form_widget(form.comment)}}
{{form_widget(form.add)}}
			{{ form_end(form) }}


	</section>
</div>
 
</div>
</div>


{% endblock %}
