<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:title" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Jobick Job Admin</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <link href="{{asset('css/style.css')}}" rel="stylesheet">

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									
                                    <style>
                                     .h {
    display: inline-block;
  }
                                    </style>
                                    <h4 class="text-center mb-4">Sign up your account</h4>
                                    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Username</strong></label>
                                            {{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder':'Username'}}) }}
                                        {{form_errors(form.username)}}
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Email</strong></label>
                                           {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email'}}) }}
                                        {{form_errors(form.email)}}
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                           {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control','placeholder':'Password'}}) }}
                                        {{form_errors(form.plainPassword)}}
                                        </div>
                                         <div class="mb-3">
                                            <label class="mb-1"><strong>Phone</strong></label>
                                           {{ form_widget(form.phone, {'attr': {'class': 'form-control','placeholder':'Phone'}}) }}
                                        {{form_errors(form.phone)}}
                                        </div>
                                        <div class="h">
                
                                            <label class="mb-1"><strong>Role</strong></label>
                                           {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                                           </label>
                                           {{form_errors(form.roles)}}
                                        </div>
                                        <br>
                                         <div class="h">
                
                                            <label class="mb-1"><strong>Gender</strong></label>
                                           {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                           </label>
                                           {{form_errors(form.gender)}}
                                        </div>
                                        <br>
                                        <div class="h">
                
                                            <label class="mb-1"><strong>Photo :</strong></label>
                                           {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                           </label>
                                           {{form_errors(form.image)}}
                                        </div>
                                        <div class="text-center ">
                                            <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                                        </div>
                                    {{ form_end(form) }}
                                    <div class="new-account mt-3">
                                        <p>Already have an account? <a class="text-primary" href="{{path('app_login')}}">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
<script src="{{asset('vendor/global/global.min.js')}}"></script>
<script src="{{asset('js/custom.min.js')}}"></script>
<script src="{{asset('js/dlabnav-init.js')}}"></script>
<script src="{{asset('js/styleSwitcher.js')}}"></script>
</body>
</html>