<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:title" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Admin Dashboard</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{{asset('images/favicon.png')}}" />
    <!-- Datatable -->
    <link href="{{asset('vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
    <link href="{{asset('css/style.css')}}" rel="stylesheet">

</head>

{% block body %}


    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
	{% include 'base2.html.twig' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
				
			
                <!-- row -->


                <div class="row">

					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Live Tournaments</h4>
                            </div>
                       

<style>
.abc{
border-radius:50%;
}
.round {
  float: left;
}
.round.r-of-4 {
  
}
.round.r-of-2 {
  margin-top: 25px;
}
.bracket-game {
  max-width: 125px;
  margin: 10px 0;
}
.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px;
}
.player.top {
  border-radius: 3px 3px 0 0;
}
.player.bot {
  border-radius: 0 0 3px 3px;
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE;
}
.player.win {
  background-color: #B8F2B8;
}
.player.loss {
  background-color: #F2B8B8;
}
.connectors {
  float: left;
  min-width: 35px;
}
.connectors.r-of-2 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}
.clear {
  clear: both;


}

</style>

<script>


function winner1() {
  document.getElementById("player1").style.backgroundColor="#B8F2B8"
  document.getElementById("player2").style.backgroundColor="#F2B8B8"
  document.getElementById("finally1").innerHTML=document.getElementById("p1").textContent;
  document.getElementById("team_winner1").value=document.getElementById("p1").textContent;
}

function winner2() {
  document.getElementById("player1").style.backgroundColor="#F2B8B8"
  document.getElementById("player2").style.backgroundColor="#B8F2B8"
  document.getElementById("finally1").innerHTML=document.getElementById("p2").textContent;
   document.getElementById("team_winner1").value=document.getElementById("p2").textContent;
}

function winner3() {
  document.getElementById("player3").style.backgroundColor="#B8F2B8"
  document.getElementById("player4").style.backgroundColor="#F2B8B8"
  document.getElementById("finally2").innerHTML=document.getElementById("p3").textContent;
  document.getElementById("team_winner2").value=document.getElementById("p3").textContent;
  
  
}
function winner4() {
  document.getElementById("player3").style.backgroundColor="#F2B8B8"
  document.getElementById("player4").style.backgroundColor="#B8F2B8"
  document.getElementById("finally2").innerHTML=document.getElementById("p4").textContent;
    document.getElementById("team_winner2").value=document.getElementById("p4").textContent;
}


function winner_finally1() {
  document.getElementById("finally1").style.backgroundColor="#B8F2B8"
  document.getElementById("finally2").style.backgroundColor="#F2B8B8"
  document.getElementById("winner").value=document.getElementById("finally1").textContent;

}

function winner_finally2() {
  document.getElementById("finally1").style.backgroundColor="#F2B8B8"
  document.getElementById("finally2").style.backgroundColor="#B8F2B8"
  document.getElementById("winner").value=document.getElementById("finally2").textContent;
}
</script>
  {% if not_available == 1 %}
  <h4>
  Tournament not available
  </h4>
  {% else %}
{{form_start(form)}}

{{ form_widget(form.team1, {'id': 'team_winner1'}) }}
{{ form_widget(form.team2, {'id': 'team_winner2'}) }}
{{ form_widget(form.winner, {'id': 'winner'}) }}
{{ form_widget(form.Finish)}}
{{form_end(form)}}
        <div class="content-body">
<div class="round r-of-4">

{% if is_Final == 1 %}

<p>This Tournament is Over</p>
{% else %}
  <div class="bracket-game">
  {% set tab = participation %}



  {% if tab|length == 4 %}
    <div class="player top" id="player1">
       <button onclick="winner1()" class="abc">O</button>

      <label id="p1">{{tab[0]|join('|')}}</label>

    </div>



    <div class="player bot" id="player2">
    <button onclick="winner2()" class="abc">O</button>
      <label id="p2">{{tab[1]|join('|')}}</label>
     
    </div>
  </div>




  <div class="bracket-game cont">
   <div class="player top" id="player3">
     <button onclick="winner3()" class="abc">O</button>
  
      <label id="p3">{{tab[2]|join('|')}}</label>
     
    </div>



    <div class="player bot" id="player4">
     <button onclick="winner4()" class="abc">O</button>
     <label id="p4">{{tab[3]|join('|')}}</label>
      
    </div>
  </div>

</div>



<div class="connectors r-of-2">
  <div class="top-line"></div>
  <div class="clear"></div>
  <div class="bottom-line"></div>
  <div class="clear"></div>
  <div class="vert-line"></div>
  <div class="clear"></div>
  <div class="next-line"></div>
  <div class="clear"></div>
</div>




<div class="round r-of-2">


  <div class="bracket-game">
    <div class="player top">
    <button onclick="winner_finally1()" class="abc">O</button>
     <label id="finally1"></label>
     
    </div>



    <div class="player bot">
    <button onclick="winner_finally2()" class="abc">O</button>
      <label id="finally2"></label>
      
    </div>


 {% else %}
<h4>Tournament isnt ready to be live</h4>
{% endif %}
{% endif %}
{% endif %}
  </div>
 
</div>
 </div>
{% endblock %}
   

        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://dexignlab.com/" target="_blank">DexignLab</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{{asset('vendor/global/global.min.js')}}"></script>
    <script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script>
	<!-- Apex Chart -->
	<script src="{{asset('vendor/apexchart/apexchart.js')}}"></script>
	
    <!-- Datatable -->
    <script src="{{asset('vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/plugins-init/datatables.init.js')}}"></script>

	<script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>

    <script src="{{asset('js/custom.min.js')}}"></script>
	<script src="{{asset('js/dlabnav-init.js')}}"></script>
	<script src="{{asset('js/demo.js')}}"></script>
    <script src="{{asset('js/styleSwitcher.js')}}"></script>
</body>
</html>