{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
{{parent()}}

<div class="content-wrap">
<div class="mpl-navbar-mobile-overlay"></div>
<div>
<section class="mpl-banner mpl-banner-top mpl-banner-parallax">
<div class="mpl-image" data-speed="0.8">
<img src="{{asset('assets/images/dark/banner-bg.html')}}" alt="" class="jarallax-img">
</div>
<div class="mpl-banner-content mpl-box-sm">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
<div class="container mpl-box-md">
                       

<style>
.abc{
border-radius:50%;
}
.round {
  float: left;
}
.round.r-of-4 {
  
}
.round.r-of-2 {
  margin-top: 25px;
}
.bracket-game {
  max-width: 125px;
  margin: 10px 0;
}
.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px;
  color:black;
}
.player.top {
  border-radius: 3px 3px 0 0;
}
.player.bot {
  border-radius: 0 0 3px 3px;
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE;
}
.player.win {
  background-color: #B8F2B8;
}
.player.loss {
  background-color: #F2B8B8;
}
.connectors {
  float: left;
  min-width: 35px;
}
.connectors.r-of-2 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}
.clear {
  clear: both;


}

</style>
{% if not_available == 0 %}
<h4>NOT AVAILABLE YET</h4>
{% else %}
        <div class="content-body">
<div class="round r-of-4">
{% set tab1 = brackets[0] %}
  <div class="bracket-game">
  {% if tab1.statusTeam1 == "winner" %}
    <div class="player top win">
    
      {{tab1.equipe1}}
     
    </div>


    <div class="player bot loss">
      {{tab1.equipe2}}
     
    </div>
  </div>
{% else %}
 <div class="player top loss">
    
      {{tab1.equipe1}}
     
    </div>


    <div class="player bot win">
      {{tab1.equipe2}}
     
    </div>
  </div>
{% endif %}
{% set tab2 = brackets[1] %}
  <div class="bracket-game cont">
   {% if tab2.statusTeam1 == "winner" %}
    <div class="player top win">
    
      {{tab2.equipe1}}
     
    </div>


    <div class="player bot loss">
      {{tab2.equipe2}}
     
    </div>
  </div>
{% else %}
 <div class="player top loss">
    
      {{tab2.equipe1}}
     
    </div>


    <div class="player bot win">
      {{tab2.equipe2}}
     
    </div>
  </div>
{% endif %}
</div>
<div class="connectors r-of-2">
  <div class="top-line"></div>
  <div class="clear"></div>
  <div class="bottom-line"></div>
  <div class="clear"></div>
  <div class="vert-line"></div>
  <div class="clear"></div>
  <div class="next-line"></div>
  <div class="clear"></div>
</div>
<div class="round r-of-2">
 {% set tab3 = brackets[2] %}
  <div class="bracket-game">
   {% if tab3.statusTeam1 == "winner" %}
    <div class="player top win">
    
      {{tab3.equipe1}}
     
    </div>


    <div class="player bot loss">
      {{tab3.equipe2}}
     
    </div>
  </div>
{% else %}
 <div class="player top loss">
    
      {{tab3.equipe1}}
     
    </div>


    <div class="player bot win">
      {{tab3.equipe2}}
     
    </div>
  </div>
{% endif %}
{% endif %}
</div>
 </div>
{% endblock %}
   
 