<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:title" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:description" content="Jobick : Job Admin Bootstrap 5 Template" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Admin Dashboard</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{{asset('images/favicon.png')}}" />
    <!-- Datatable -->
    <link href="{{asset('vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
    <link href="{{asset('css/style.css')}}" rel="stylesheet">

</head>

{% block body %}


    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
	{% include 'base2.html.twig' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
				
			
                <!-- row -->


                <div class="row">

					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Tournaments Datatable</h4>
                            </div>
                           <input type="text" id="search" class="form-control" placeholder="Search">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example5" class="t" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                 <th>Id</th>
                <th>NomTournois</th>
                <th>Capacite</th>
                
                <th>Recompense</th>
                <th>DateTournois</th>
                <th>PtsXp</th>
                <th>TimeT</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="all">
                                           {% for tournoi in tournois %}
                                            <tr>
                                                <td><img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""></td>
                                             <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.nomTournois }}</td>
                <td>{{ tournoi.capacite }}</td>
                
                <td>{{ tournoi.recompense }}</td>
                <td>{{ tournoi.dateTournois ? tournoi.dateTournois|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.ptsXp }}</td>
                <td>{{ tournoi.timeT ? tournoi.timeT|date('H:i:s') : '' }}</td>
                                                <td>
													<div class="d-flex">
														<a href="{{ path('app_tournois_edit', {'id': tournoi.id}) }}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                        
														 {{ include('tournois/_delete_form.html.twig') }}
                                                      
                                                         <a href="{{ path('bracket', {'id': tournoi.id}) }}" class="btn btn-primary shadow btn-xs sharp me-1">L</a>
                                                 
													</div>												
												</td>												
                                            </tr>
                                               
                                          {% endfor %}
        
                                             </tbody>
                                    <tbody id="search1">
</tbody>

                                    </table>
                                  
                                   <button type="submit" class="btn btn-primary"><a href="{{path('tournois_pdf')}}"> Save as PDF </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
					
				
				</div>
            </div>
        </div>
             <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>


<script> $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est
                    envoyée */
                    url : "{{ path('searchTournaments') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'POST',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la
                    zone de recherche et sera placée après l’url */
                    data: {
                        'tournois' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le
                    nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $("#search1").empty();

                            $.each(JSON.parse(retour), function(i,obj) {
                              	   var date = new Date(obj.dateTournois.timestamp * 1000);
                                date.setHours(date.getHours()-1);
                                var dateStr =
                                    date.getFullYear() + "-" +
                                    ("00" + (date.getMonth() + 1)).slice(-2) + "-" +
                                    ("00" + date.getDate()).slice(-2);
                                /*var timeTT = new Time(obj.timeT.timestamp * 1000);
timeTT.setHours(TimeTT.getHours()-1);
                                var time =   ("00" + timeTT.getHours()).slice(-2) + ":" +
                                    ("00" + timeTT.getMinutes()).slice(-2) + ":" +
                                    ("00" + timeTT.getSeconds()).slice(-2);
*/


                                $("#all").hide();
 $("#search1").append('<tr><td></td><td>'+obj.id+'</td>'+'<td>'+obj.nomTournois+'</td>'+'<td>'+obj.capacite+'</td>'+
 '<td>'+obj.recompense+'</td>'+'<td>'+dateStr+'</td>'+
 '<td>'+obj.ptsXp+'</td>'+'<td>'+obj.timeT+'</td>'+
 '<td>'+'<a href="edit/'+obj.id+'" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a></td>'+'<td><a href="delete_page/'+obj.id+'" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-trash-alt"></i></a></td>'+'<td><a href="s/bracket_search/'+obj.id+'" class="btn btn-primary shadow btn-xs sharp me-1">L</a></td>'+'</tr>');

                            });
                        }
                        else
                        {
                            $("#all").show();
                            $("#search1").empty();
                            $("#search1").fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
				
</script>

        {% endblock %}

   

        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://dexignlab.com/" target="_blank">DexignLab</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{{asset('vendor/global/global.min.js')}}"></script>
    <script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script>
	<!-- Apex Chart -->
	<script src="{{asset('vendor/apexchart/apexchart.js')}}"></script>
	
    <!-- Datatable -->
    <script src="{{asset('vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/plugins-init/datatables.init.js')}}"></script>

	<script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>

    <script src="{{asset('js/custom.min.js')}}"></script>
	<script src="{{asset('js/dlabnav-init.js')}}"></script>
	<script src="{{asset('js/demo.js')}}"></script>
    <script src="{{asset('js/styleSwitcher.js')}}"></script>
</body>
</html>