<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>
		<meta name="robots" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Jobick : Job Admin Bootstrap 5 Template"/>
		<meta property="og:title" content="Jobick : Job Admin Bootstrap 5 Template"/>
		<meta property="og:description" content="Jobick : Job Admin Bootstrap 5 Template"/>
		<meta property="og:image" content="social-image.png"/>
		<meta
		name="format-detection" content="telephone=no">

		<!-- PAGE TITLE HERE -->
		<title>Admin Dashboard</title>

		<!-- FAVICONS ICON -->
		<link
		rel="shortcut icon" type="image/png" href="{{asset('images/favicon.png')}}"/>
		<!-- Datatable -->
		<link
		href="{{asset('vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
		<!-- Custom Stylesheet -->
		<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
		<link href="{{asset('vendor/sweetalert2/dist/sweetalert2.min.css')}}" rel="stylesheet">
		<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
		<link href="{{asset('css/style.css')}}" rel="stylesheet">








	</head>

	<body>

	
	
	
		<div id="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>

																																  


	
																																      
		<div
			id="main-wrapper">

		
	
			
			{% include 'base2.html.twig' %}
		
				<div class="content-body"> <div class="container-fluid">

					<div class="row page-titles">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active">
								<a href="javascript:void(0)">Table</a>
							</li>
							<li class="breadcrumb-item">
								<a href="javascript:void(0)">Datatable</a>
							</li>
						</ol>
					</div>
			


					<div class="row">

						<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Games list</h4>
            <form method="POST">
                <div class="input-group search-area">
                    <input type="text" class="form-control" placeholder="search here..." name="gameName">
                    <span class="input-group-text">
                        <button type="submit" style="border: none"><i class="flaticon-381-search-2"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                    <tr>
                        <th><strong>NAME</strong></th>
                        <th><strong>DESCRIPTION</strong></th>
                        <th><strong>LINK</strong></th>
                        <th><strong>IMAGE</strong></th>
                        <th><strong>CATEGORY</strong></th>
                        <th><strong>RATING</strong></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.gameName }}</td>
                            <td>{{ game.gameDescription }}</td>
                            <td>{{ game.gameLink }}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{ asset('/uploads/photos/' ~ game.gameImg) }}"
                                         class="rounded-lg me-2" width="80" alt="">
                                </div>
                            </td>
                            <td>{{ game.idcategory.categoryName }}</td>
                            {% if game.rating != null %}
                                <td>{{ game.rating }} / 5</td>
                            {% else %}
                                <td>Not Rated</td>
                            {% endif %}
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                        <svg width="20px" height="20px" viewbox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                            </g>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{{ path('app_game_edit', {'gameId': game.gameId}) }}">Edit</a>
                                        <form method="post"
                                              action="{{ path('app_game_delete', {'gameId': game.gameId}) }}"
                                              onsubmit="return confirm('Are you sure you want to delete this game?');">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ game.gameId) }}">
                                            <button class="dropdown-item">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No games found</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <div class="navigation">
                    {{ knp_pagination_render(games) }}
                </div>
            </div>
        </div>
    </div>
<script src="{{asset('vendor/global/global.min.js')}}"> </script><script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script><!-- Apex Chart --><script src="{{asset('vendor/apexchart/apexchart.js')}}"></script><!-- Datatable --><script src="{{asset('vendor/datatables/js/jquery.dataTables.min.js')}}"></script><script src="{{asset('js/plugins-init/datatables.init.js')}}"></script><script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script><script src="{{asset('js/custom.min.js')}}"></script><script src="{{asset('js/dlabnav-init.js')}}"></script><script src="{{asset('js/demo.js')}}"></script><script src="{{asset('js/styleSwitcher.js')}}"></script><script src="{{asset('vendor/sweetalert2/dist/sweetalert2.min.js')}}"></script><script src="{{asset('js/plugins-init/sweetalert.init.js')}}"></script><script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>
		


		
		
		
		</body>
		
		
		
		</html>

