{% extends 'base-back.html.twig' %}
{% block title %}Games{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Games list</h4>
            <form>
                <div class="input-group search-area">
                    <input type="text" class="form-control" placeholder="search here...">
                    <span class="input-group-text">
                        <button type="submit" style="border: none" ><i class="flaticon-381-search-2"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                    <tr>
                        <th><strong>NAME</strong></th>
                        <th><strong>DESCRIPTION</strong></th>
                        <th><strong>LINK</strong></th>
                        <th><strong>IMAGE</strong></th>
                        <th><strong>CATEGORY</strong></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.gameName }}</td>
                            <td>{{ game.gameDescription }}</td>
                            <td>{{ game.gameLink }}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{ asset('uploads/games_pictures/' ~ game.gameImg) }}"
                                         class="rounded-lg me-2" width="80" alt="">
                                </div>
                            </td>
                            <td>{{ game.idcategory.categoryName }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                        <svg width="20px" height="20px" viewbox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                            </g>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{{ path('app_game_edit', {'gameId': game.gameId}) }}">Edit</a>
                                        <form method="post"
                                              action="{{ path('app_game_delete', {'gameId': game.gameId}) }}"
                                              onsubmit="return confirm('Are you sure you want to delete this game?');">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ game.gameId) }}">
                                            <button class="dropdown-item">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No games found</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <div class="navigation">
                    {{ knp_pagination_render(games) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

