{% extends 'base.html.twig' %}
{% block title %}Games{% endblock %}


{% block body %}
{{parent()}}
 <link data-require="fontawesome@*" data-semver="4.5.0" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css"/>
    <style>
        .rating {
            cursor: pointer;
        }

        .rating .rating-star {
            display: inline-block;
            position: relative;
            padding-right: 5px;
            margin-left: -5px;
            color: #e3cf7a;
        }

        .rating .selected:before {
            content: '\f005';
        }
    </style>
 <script>
        $(document).ready(function () {

            function setRating(rating) {
                $('#form_rating').val(rating);
                // fill all the stars assigning the '.selected' class
                $('.rating-star').removeClass('fa-star-o').addClass('selected');
                // empty all the stars to the right of the mouse
                $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('selected').addClass('fa-star-o');
            }

            $('.rating-star')
                .on('mouseover', function (e) {
                    var rating = $(e.target).data('rating');
                    // fill all the stars
                    $('.rating-star').removeClass('fa-star-o').addClass('fa-star');
                    // empty all the stars to the right of the mouse
                    $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('fa-star').addClass('fa-star-o');
                })
                .on('mouseleave', function (e) {
                    // empty all the stars except those with class .selected
                    $('.rating-star').removeClass('fa-star').addClass('fa-star-o');
                })
                .on('click', function (e) {
                    var rating = $(e.target).data('rating');
                    setRating(rating);
                })
                .on('keyup', function (e) {
                    // if spacebar is pressed while selecting a star
                    if (e.keyCode === 32) {
                        // set rating (same as clicking on the star)
                        var rating = $(e.target).data('rating');
                        setRating(rating);
                    }
                });
        });
    </script>
    <div class="mpl-box-md">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active">Headphones MPL</li>
            </ol>
        </nav>
        <div class="row hgap-lg vgap-lg mb-0">
            <div class="col-lg-7">
                <div class="mpl-product-gallery">
                    <a class="mpl-gallery-item" href="{{ asset('uploads/games_pictures/' ~ game.gameImg) }}"
                       data-fancybox="gallery" data-animation-effect="fade">
<span class="mpl-image">
<img src="{{ asset('uploads/photos/' ~ game.gameImg) }}" alt="">
</span>
                        <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V8M21 8V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H16M16 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V16M3 16V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H8"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-5" data-sr="product-main" data-sr-interval="120" data-sr-duration="1000"
                 data-sr-distance="20">
                <h1 class="mb-10" data-sr-item="product-main">Name : {{ game.gameName }}</h1>
                <h3 class="mt-30" data-sr-item="product-main">Category : {{ game.idcategory.categoryName }}</h3>
                <h3 class="mt-30" data-sr-item="product-main">Link : {{ game.gameLink }}</h3>
                <p data-sr-item="product-main"> Description : {{ game.gameDescription }}</p>
                {{ form_start(form) }}
                <div class="rating" role="optgroup">
                    <!-- in Rails just use 1.upto(5) -->
                    <i class="fa fa-star-o fa-2x rating-star" id="rating-1" data-rating="1" tabindex="0"
                       aria-label="Rate as one out of 5 stars" role="radio"></i>
                    <i class="fa fa-star-o fa-2x rating-star" id="rating-2" data-rating="2" tabindex="0"
                       aria-label="Rate as two out of 5 stars" role="radio"></i>
                    <i class="fa fa-star-o fa-2x rating-star" id="rating-3" data-rating="3" tabindex="0"
                       aria-label="Rate as three out of 5 stars" role="radio"></i>
                    <i class="fa fa-star-o fa-2x rating-star" id="rating-4" data-rating="4" tabindex="0"
                       aria-label="Rate as four out of 5 stars" role="radio"></i>
                    <i class="fa fa-star-o fa-2x rating-star" id="rating-5" data-rating="5" tabindex="0"
                       aria-label="Rate as five out of 5 stars" role="radio"></i>

                </div>
{#                <input type="number" name="rating" id="rating-input" min="1" max="5" />#}
                {{ form_widget(form.rating,{'attr':{'id':'rating-input','name':'rating'}}) }}
                <button type="submit" class="btn btn-md btn-brand">Rate</button>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    

{% endblock %}