{% extends 'base.html.twig' %}

{% block title %}Create Team{% endblock %}

{% block body %}
{{parent()}}
{% if warning != 0 %}
<div class="content-wrap">
<div class="mpl-navbar-mobile-overlay"></div>
<div>
<section class="mpl-banner mpl-banner-top mpl-banner-parallax">
<div class="mpl-image" data-speed="0.8">
<img src="{{asset('assets/images/dark/banner-bg.html')}}" alt="" class="jarallax-img">
</div>
<div class="mpl-banner-content mpl-box-sm">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
<div class="mpl-sign-form" data-sr="sign" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="20">
<h1 data-sr-item="sign">Create Team</h1>



{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<div class="row hgap-xs vgap-sm">



<div class="col-12" data-sr-item="sign">
{{ form_widget(form.nomEquipe, {'attr': {'class': 'form-control','placeholder':'Nom Equipe'}}) }}
 <span class="form-control-bg"></span>
  {{form_errors(form.nomEquipe)}}
</div>



<div class="col-12" data-sr-item="sign">
 {{form_widget(form.membres, {'attr': {'class': 'form-control','placeholder':'Membres'}}) }}
 <span class="form-control-bg"></span>
  {{form_errors(form.membres)}}
</div>

<div class="col-12" data-sr-item="sign">
 {{form_widget(form.ptsExp, {'attr': {'class': 'form-control','hidden':'true'}}) }}

</div>

<div class="col-12" data-sr-item="sign">
 {{form_widget(form.tournoisGagne, {'attr': {'class': 'form-control','hidden':'true'}}) }}

</div>

<div class="col-12" data-sr-item="sign">
<div class="form-check">
<input class="form-check-input" type="checkbox" id="signup_agreement" name="signup_agreement"><label class="form-check-label" for="signup_agreement">I have read and agree to the <a href="#">terms and conditions.</a></label>
</div>
</div>
<div class="col-12" data-sr-item="sign">
<button type="submit" class="btn btn-md btn-block">{{ button_label|default('Save') }}</button>

</div>
{{ form_end(form) }}
{% else %}
<br><br><br><br>
<center>
<h4>YOU ARE ALREADY IN A TEAM</h4>
</center>
{% endif %}


{% endblock %}
