
   <!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>
		<meta name="robots" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Jobick : Job Admin Bootstrap 5 Template"/>
		<meta property="og:title" content="Jobick : Job Admin Bootstrap 5 Template"/>
		<meta property="og:description" content="Jobick : Job Admin Bootstrap 5 Template"/>
		<meta property="og:image" content="social-image.png"/>
		<meta
		name="format-detection" content="telephone=no">

		<!-- PAGE TITLE HERE -->
		<title>Admin Dashboard</title>

		<!-- FAVICONS ICON -->
		<link
		rel="shortcut icon" type="image/png" href="{{asset('images/favicon.png')}}"/>
		<!-- Datatable -->
		<link
		href="{{asset('vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
		<!-- Custom Stylesheet -->
		<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
		<link href="{{asset('vendor/sweetalert2/dist/sweetalert2.min.css')}}" rel="stylesheet">
		<link href="{{asset('vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
		<link href="{{asset('css/style.css')}}" rel="stylesheet">








	</head>

	<body>

	
	
	
		<div id="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>

																																  


	
																																      
		<div
			id="main-wrapper">

		
	
			
			{% include 'base2.html.twig' %}
		
				<div class="content-body"> <div class="container-fluid">

					<div class="row page-titles">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active">
								<a href="javascript:void(0)">Table</a>
							</li>
							<li class="breadcrumb-item">
								<a href="javascript:void(0)">Datatable</a>
							</li>
						</ol>
					</div>
			


					<div class="row">

						<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Commandes</h4>
            <form method="POST">
                <div class="input-group search-area">
                    <input type="text" class="form-control" placeholder="search here..." name="gameName">
                    <span class="input-group-text">
                        <button type="submit" style="border: none"><i class="flaticon-381-search-2"></i></button>
                    </span>
                </div>
            </form>
        </div>
          <div class="card-body">
    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('commande_indexssss') }}">back to list</a>

    {{ include('commande/_delete_form.html.twig') }}
<script src="{{asset('vendor/global/global.min.js')}}"> </script><script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script><!-- Apex Chart --><script src="{{asset('vendor/apexchart/apexchart.js')}}"></script><!-- Datatable --><script src="{{asset('vendor/datatables/js/jquery.dataTables.min.js')}}"></script><script src="{{asset('js/plugins-init/datatables.init.js')}}"></script><script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script><script src="{{asset('js/custom.min.js')}}"></script><script src="{{asset('js/dlabnav-init.js')}}"></script><script src="{{asset('js/demo.js')}}"></script><script src="{{asset('js/styleSwitcher.js')}}"></script><script src="{{asset('vendor/sweetalert2/dist/sweetalert2.min.js')}}"></script><script src="{{asset('js/plugins-init/sweetalert.init.js')}}"></script><script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>
		


		  </div>
            </div>
        </div>
    </div>
    



		
		
		
		</body>
		
		
		
		</html>

		
		
		</body>
		
		
		
		</html>

