
    {% for produit in produits %}
        <tr>
           
            <td>{{ produit.Nom }}</td>
            <td>{{ produit.Prix }}</td>
            <td><img src="{{ asset('uploads/photos/'~produit.Image) }}" WIDTH=150 HEIGHT=120 alt=""></td>
            <td>{{ produit.Quantite }}</td>
            <td>{{ produit.avis }}</td>
            <td>
    
                <a href="{{ path('commande_new', {'idproduit':produit.id}) }}" class="filled-button" style="margin: 5px;">Commander</a>
                <a href="{{ path('cart_add',{'id':produit.id}) }}" class="filled-button" style="margin: 5px;">Ajouter panier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
